{{ define "content" }}

{{/* The value of {{ . }} in this template is either an User object or
nil, depending whether the user is logged in or not. */}}

<p class="lead">
  Welcome! This site hosts the data acquired during the test campaign of the QUBIC instrument.
</p>

<p>
  {{ if . }}
  User {{ .User.Email }} is logged in.
  {{ else }}
  To navigate the site, you have to <a href="/login">login</a> first.
  {{ end }}
</p>

{{ if . }}
  <h2>List of tests</h2>
  {{ if .AcquisitionList }}
  <table
    class="table table-bordered table-hover"
    data-toggle="table"
    data-page-size="25"
    data-pagination="true"
    data-search="true"
    data-show-columns="true"
    data-show-toggle="true"
    data-sortable="true"
    data-toggle="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Acquisition</th>
        <th>Raw files</th>
        <th>Sum files</th>
        <th>ASIC HK</th>
        <th>Extern HK</th>
        <th>Cryostat HK</th>
      </tr>
    </thead>
    <tbody>
      {{ range .AcquisitionList }}
      <tr>
        <td><a href="/api/v1/acquisitions/{{ .AcquisitionTime }}">{{ .Name }}</a></td>
        <td>{{ .AcquisitionTime }}</td>
        <td><a href="/api/v1/acquisitions/{{ .AcquisitionTime }}">Link</a></td>
        <td><a href="/api/v1/acquisitions/{{ .AcquisitionTime }}">Link</a></td>
        <td>
          {{ if .AsicHkFileName }}
          <a href="/api/v1/acquisitions/{{ .AcquisitionTime }}/asichk" download="{{ .AcquisitionTime }}_asic.fits">Download</a>
          {{ else }}
          None
          {{ end }}
        </td>
        <td>
          {{ if .ExternHkFileName }}
          <a href="/api/v1/acquisitions/{{ .AcquisitionTime }}/externhk" download="{{ .AcquisitionTime }}_exthk.fits">Download</a>
          {{ else }}
          None
          {{ end }}
        </td>
        <td>
          N/A
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <p>
    None found!
  </p>
  {{ end }}
{{ end }}

{{ end }}
