{{ define "content" }}

<form class="form-signin center" role="form" action="/authenticate" method="post">
  <h2 class="form-signin-heading">
    <i class="fa fa-comments-o">
      QuTeDB
    </i>
  </h2>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
  </div>
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

{{ end }}
